<div ng-controller="dayCtrl">

    <div class="container">
        <div class="row">
            <div class="col-5">
                <canvas id="barBest" class="chart chart-bar ng-isolate-scope"
                        chart-data="bestData" chart-labels="bestLabels">
                </canvas>

                <br>

                <table class = "table table-striped">
                    <tr>
                        <thead>
                        <th>#</th>
                        <th>Stock</th>
                        <th>Opening Price</th>
                        <th>Closing Price</th>
                        <th>Price Change</th>
                        </thead>
                    </tr>
                    <tr  ng-repeat="stock in bestStocks">
                        <td>{{ $index + 1}}</td>
                        <td>{{ stock.ticker }}</td>
                        <td>{{ stock.openPrice }}</td>
                        <td>{{ stock.closePrice }}</td>
                        <td>{{ stock.absoluteDifference }}</td>
                    </tr>
                </table>
            </div>
            <div class="offset-1"></div>
            <div class="col-5">
                <canvas id="barWorst" class="chart chart-bar ng-isolate-scope"
                        chart-data="worstData" chart-labels="worstLabels">
                </canvas>

                <br>

                <table class = "table table-striped">
                    <tr>
                        <thead>
                        <th>#</th>
                        <th>Stock</th>
                        <th>Opening Price</th>
                        <th>Closing Price</th>
                        <th>Price Change</th>
                        </thead>
                    </tr>
                    <tr  ng-repeat="stock in worstStocks">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ stock.ticker }}</td>
                        <td>{{ stock.openPrice }}</td>
                        <td>{{ stock.closePrice }}</td>
                        <td>{{ stock.absoluteDifference }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>



</div>
